Repository Pico-Developer/pySecureMR: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle, mypy

.pre-commit-config.yaml:

default_language_version:
    python: python3.6

repos:
-   repo: local
    hooks:
    -   id: check-added-large-files 
        name: Check added large files.
        entry: check-added-large-files 
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: end-of-file-fixer
        name: Fix end-of-file
        entry: end-of-file-fixer
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: trailing-whitespace
        name: Trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: check-merge-conflict
        name: Check merge conflict
        entry: check-merge-conflict
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: check-docstring-first
        name: Check docstring first
        entry: check-docstring-first
        language: system
        types: [python]
# -   repo: https://github.com/Quantco/pre-commit-mirrors-insert-license
-   repo: local
    hooks:
    -   id: insert-license
        name: Insert license header
        entry: insert-license
        args:
        - --license-base64
        - "Q29weXJpZ2h0IChjKSAyMDI1IEJ5dGVkYW5jZSBMdGQuIGFuZC9vciBpdHMgYWZmaWxpYXRlcwoK
          TGljZW5zZWQgdW5kZXIgdGhlIEFwYWNoZSBMaWNlbnNlLCBWZXJzaW9uIDIuMCAodGhlIExpY2Vu
          c2UpOwp5b3UgbWF5IG5vdCB1c2UgdGhpcyBmaWxlIGV4Y2VwdCBpbiBjb21wbGlhbmNlIHdpdGgg
          dGhlIExpY2Vuc2UuCllvdSBtYXkgb2J0YWluIGEgY29weSBvZiB0aGUgTGljZW5zZSBhdAoKICAg
          IGh0dHA6Ly93d3cuYXBhY2hlLm9yZy9saWNlbnNlcy9MSUNFTlNFLTIuMAoKVW5sZXNzIHJlcXVp
          cmVkIGJ5IGFwcGxpY2FibGUgbGF3IG9yIGFncmVlZCB0byBpbiB3cml0aW5nLCBzb2Z0d2FyZQpk
          aXN0cmlidXRlZCB1bmRlciB0aGUgTGljZW5zZSBpcyBkaXN0cmlidXRlZCBvbiBhbiBBUyBJUyBC
          QVNJUywKV0lUSE9VVCBXQVJSQU5USUVTIE9SIENPTkRJVElPTlMgT0YgQU5ZIEtJTkQsIGVpdGhl
          ciBleHByZXNzIG9yIGltcGxpZWQuClNlZSB0aGUgTGljZW5zZSBmb3IgdGhlIHNwZWNpZmljIGxh
          bmd1YWdlIGdvdmVybmluZyBwZXJtaXNzaW9ucyBhbmQKbGltaXRhdGlvbnMgdW5kZXIgdGhlIExp
          Y2Vuc2UuCg=="
        - --dynamic-years
        - --comment-style
        - "#"
        language: system
        types: [python]
# -   repo: local
#     hooks:
#     -   id: autoflake
#         name: Remove unused imports.
#         entry: autoflake -i --remove-all-unused-imports --ignore-init-module-imports --expand-star-imports -v
#         language: system
#         types: [python]
-   repo: local
    hooks:
    -   id: isort
        name: Check python imports.
        entry: isort --filter-files
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: black
        name: Auto format python code.
        entry: black -l 119
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: flake8
        name: Check pep8.
        entry: flake8 --max-line-length 119
        language: system
        types: [python]
-   repo: local
    hooks:
    -   id: pydocstyle
        name: Check docstring.
        entry: pydocstyle
        language: system
        exclude: (?x)(^tests/|^projects/)
        types: [python]
-   repo: local
    hooks:
    -   id: mypy
        name: Check static typing.
        entry: mypy
        language: system
        exclude: (?x)(^tests/|^projects/|^configs/|^dev/|^tools/|/)
        types: [python]

update from sync
  securemr/pytorch_to_qnn.py
  securemr/qnn_model.py
  tests/test_pytorch_to_qnn.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update readme
  README.md
Due: none

remove useless code in Makefile
  Makefile
Due: none

update python-publish.yml
  .github/workflows/python-publish.yml
Due: none

remove github workflow
  .github/workflows/python-publish.yml
Due: none

update readme
  MANIFEST.in
  Makefile
  README.md
  pyproject.toml
Due: none

update readme and fix lint error
  Makefile
  README.md
  examples/mnistwild/mnistwild.py
  pyproject.toml
  securemr/generate_info.py
  securemr/pytorch_to_qnn.py
  securemr/qnn_model.py
  tests/test_operator.py
  tests/test_tensor.py
  tests/test_tensor_mat.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update doc
  README.md
Due: none

add install_qnn.py
  README.md
  securemr/install_qnn.py
  securemr/pytorch_to_qnn.py
  securemr/test_pytorch_to_qnn.py
  securemr/utils.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add benchmark
  securemr/generate_benchmark_json.py
  securemr/pytorch_to_qnn.py
  securemr/qnn_model.py
  securemr/test_pytorch_to_qnn.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

fix bug in qnn_model benchmark, add onnx_to_qnn.py
  securemr/__init__.py
  securemr/onnx_to_qnn.py
  securemr/qnn_model.py
  securemr/utils.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update examples/mnistwild/mnistwild.py
  examples/mnistwild/mnistwild.py
  securemr/__init__.py
  securemr/_bindings/_securemr.cpython-310-x86_64-linux-gnu.so
  securemr/_bindings/libopenmr-backend.so
  securemr/onnx_to_qnn.py
  securemr/qnn_model.py
  tests/test_operator.py
  tests/test_pipeline.py
  tests/test_tensor_mat.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

fix bug in mnistwild.py and update serialization.py
  examples/mnistwild/mnistwild.py
  securemr/_bindings/_securemr.cpython-310-x86_64-linux-gnu.so
  securemr/_bindings/libopenmr-backend.so
  securemr/serialization.py
  tests/test_serialization.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add pipeline_vis tool
  .gitignore
  tools/_d3_v7.min.js
  tools/pipeline_viz.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update serialization.py
  .gitignore
  examples/mnistwild/mnistwild.py
  securemr/serialization.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

fix pytest bug
  securemr/generate_info.py
  securemr/test_pytorch_to_qnn.py
  tests/test_operator.py
  tests/test_pipeline.py
  tests/test_serialization.py
  tests/test_tensor.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add tests/test_tensor_vec.py
  tests/test_tensor_vec.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8

add tests/test_tensor_vec.py
  securemr/__init__.py
  securemr/_bindings/_securemr.cpython-310-x86_64-linux-gnu.so
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add tests/test_inference_operator.py
  securemr/operators/custom_operator.py
  securemr/operators/inference_operator.py
  securemr/qnn_model.py
  securemr/serialization.py
  tests/test_custom_operator.py
  tests/test_inference_operator.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add replace_python_custom_with_model_inference
  securemr/serialization.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add skip for tests/test_inference_operator.py
  securemr/serialization.py
  tests/test_inference_operator.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add test_operator_js_scripting.py
  tests/test_operator_js_scripting.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8

update
  securemr/_bindings/_securemr.cpython-310-x86_64-linux-gnu.so
  securemr/qnn_to_pipeline.py
  securemr/serialization.py
  tests/test_operator_js_scripting.py
  tests/test_qnn_to_pipeline.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update, and set qnn_to_pipeline WIP
  securemr/qnn_to_pipeline.py
  securemr/serialization.py
  securemr/utils.py
  tests/test_qnn_to_pipeline.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add adb root message for easy debug
  securemr/operators/inference_operator.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update serialization.py
  securemr/serialization.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

add dump_output in inference_operator
  securemr/operators/inference_operator.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle

update
  examples/mnistwild/README.md
  examples/mnistwild/mnistwild.py
  securemr/serialization.py
  securemr/utils.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace, check-merge-conflict, check-docstring-first, insert-license, isort, black, flake8, pydocstyle
